.adharVerify1,
.adharVerify2,
.manualUpload,
.adharVerifyStart {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.topbar .btn-back {
  background: transparent !important;
  border: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.topbar .btn-back svg {
  font-size: 1.75rem !important;
  color: rgba(0, 0, 0, 0.7);
}

.adharVerify1 .content,
.adharVerify2 .content,
.manualUploadPage .content,
.adharVerifyStart .content {
  padding: 0px 20px;
}

.adharVerify1 .content > h2,
.adharVerify2 .content > h2,
.manualUploadPage .content > h2 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.aadhaarNumber__input,
.securityCode__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.aadhaarNumber__input label {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.securityCode__input label span:first-of-type {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.securityCode__input img {
  width: 150px;
  margin-left: -15px;
}

.securityCode__input label span:last-of-type {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.aadhaarNumber__input input,
.securityCode__input input {
  font-size: 18px !important;
}

.adharVerify1 .content .boxMessage {
  display: inline-block;
  margin-top: 20px;
  color: #61646b;
  font-weight: 600;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.content .boxMessage2 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  color: #61646b;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.content .boxMessage2 svg {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  font-size: 1rem !important;
}

.content .boxMessage3 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  color: #61646b;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.content .boxMessage3 svg {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  font-size: 1rem !important;
}

.content .front__image img,
.content .back__image img {
  width: auto;
  max-width: 480px;
  height: 180px;
}

.adharVerify1 .content ul {
  padding: 0px 20px;
  margin-top: 10px;
}

.adharVerify1 .content ul li {
  color: #666666;
  list-style-type: disc;
  font-size: 12px;
  font-weight: 500;
}

.adharVerify1 .content > label {
  font-size: 12px;
}

.btn-uploadOptions {
  width: 100%;
  max-width: 480px;
  /* padding: 50px 30px; */
  height: 200px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btn-uploadOptions img {
  width: auto;
  max-width: 480px;
  height: 196px;
}

.indicators {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-indicator {
  background: rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-shadow: none;
  border: none;
}

.btn-indicator.active {
  background: rgba(0, 0, 0, 0.5);
}

.uploadModal {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.uploadModal .modal__container {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.upload__options {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.upload__options button {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 0;
}

.upload__options label {
  background: transparent;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  width: 100% !important;
  margin: 0 !important;
}



.upload__options button:not(:last-child),
.upload__options label:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.btn-cancel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.adharVerifyStart {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adharVerifyStart .content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
}

.adharVerifyStart .content > p {
  text-align: center;
  font-size: large;
  padding: 0px 20px;
}

.adharVerifyStart .content > h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.adharVerifyStart .bottom {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}