.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#scroll_id {
  height: 52vh;
  overflow-y: scroll;
}

/* Height for devices with a height greater than 900 pixels */
@media (min-height: 601px) {
  #scroll_id {
    height: 62vh;
    overflow-y: scroll;
  }
}

@media (min-height: 800px) {
  #scroll_id {
    height: 70vh;
    overflow-y: scroll;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: block;
  margin-top: 0em;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
p {
  margin: 0 0 10px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #212121;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
select.form-control {
  height: 54px;
}
.form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #3f8bf1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0.1 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(175 175 175 / 60%);
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn {
  display: inline-block;
  padding: 10px 14px;
  align-content: center;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 20px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.field-radio-group {
  display: flex;
}
.glyphicon {
  font-size: 16px;
  font-weight: 600;
}
/* .glyphicon-remove:before {
  content: "NO";
} */
/* .glyphicon-plus:before {
  content: "YES";
} */
.array-item-move-up,
.array-item-move-down {
  display: none;
}
.array-item-add {
  display: flex;
}

.array-item-add button {
  flex: auto;
  margin-top: 10px;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
ul.list-inline {
  padding: 0;
  margin: 0;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.text-danger {
  color: #dc2626;
}
.has-error input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error label div div,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #a94442;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.field-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #790000;
}

.error-detail,
ul {
  padding: 10px 0;
  list-style-type: none;
}

@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@keyframes html-progress {
  to {
    --progress-value: 92;
  }
}

.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink calc(var(--progress-value) * 1%), pink 0);
  animation: html-progress 2s 1 forwards;
}

.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) "%";
  animation: html-progress 2s 1 forwards;
}
.fw-500 {
  font-weight: 500;
}
/* .css-view-1dbjc4n {
  z-index:"auto"
} */
.certificae-parent {
  align-items: "center";
  overflow: scroll;
  background-color: #f2e4e1;
}
.certificae-height,
.certificae-height .color {
  height: 800px;
  width: 1140px;
}
.certificae-height .color img.m-25px {
  margin: -17px 10px;
  height: 740px;
}
.certificae-height .color .bg-white {
  height: 700px;
  width: 1080px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

.rdrMonth {
  width: auto !important;
}
.css-aim61a {
  margin-top: 0 !important;
}
