body {
  background: #f7f9fb !important;
}
p {
  margin: 0 !important;
}
.notVisible {
  display: none;
}
.quml-header__container {
  background: transparent !important;
  justify-content: center !important;
}
.quml-question {
  margin-top: 10px;
  padding: 0 !important;
}
.landscape-content {
  padding-top: 55px !important;
}
@media only screen and (max-width: 480px) {
  .landscape-content {
    padding: 100px 20px !important;
    padding-bottom: 10px !important;
  }
  .quml-option label.container {
    left: 40% !important;
  }
}

.quml-mcq--question.mb-24 {
  margin-bottom: 10px !important;
}
.player-grid {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  padding-top: 1rem;
}
@media screen and (max-width: 768px) {
  .player-grid {
    grid-template-columns: 100%;
    gap: 0px;
  }
}
.quml-question,
.question-container {
  background-color: transparent;
  padding: 10px !important;
}
.quml-mcq-options {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
.quml-option {
  min-height: 155px;
}
.option {
  flex: none;
}
.quml-option-card {
  float: left;
  width: 50%;
  padding: 8px;
  position: relative;
  text-align: center;
}

.quml-option-card .quml-option {
  border-radius: 20px !important;
}

.quml-option-card:nth-child(1) .quml-option,
.quml-option-card:nth-child(1) .quml-option .checkmark {
  background: #41c88e !important;
}

.quml-option-card:nth-child(2) .quml-option,
.quml-option-card:nth-child(2) .quml-option .checkmark {
  background: #d97167 !important;
}

.quml-option-card:nth-child(3) .quml-option,
.quml-option-card:nth-child(3) .quml-option .checkmark {
  background: #e99b41 !important;
}

.quml-option-card:nth-child(4) .quml-option,
.quml-option-card:nth-child(4) .quml-option .checkmark {
  background: #6461d2 !important;
}

.checkmark {
  border: 2px solid #ffffff !important;
}

.quml-option .option p {
  color: white;
}
.quml-option label.container {
  position: absolute;
  bottom: -20px;
  left: 43%;
}
.checkmark {
  height: 40px !important;
  width: 40px !important;
}

.quml-header__metadata--portrait {
  display: flex !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  padding: calculateRem(8px) calculateRem(16px) calculateRem(8px)
    calculateRem(16px) !important;
  background-color: var(--white) !important;
  z-index: 5 !important;
  min-height: 3rem !important;
}

.quml-header__metadata--portrait .quml-navigation {
  display: flex !important;
}

.quml-navigation {
  display: none !important;
}

.landscape-content {
  padding: 5rem 1rem 0 1rem !important;
  height: calc(100% - 3rem) !important;
}
.lanscape-mode-right {
  background: transparent !important;
  height: 2.5rem !important;
  display: flex !important;
  align-items: center !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  padding-top: 1rem !important;
  width: 90% !important;
  height: 2.5rem !important;
  padding: 1rem 0 0 !important;
  margin: auto !important;
  left: 0 !important;
  flex-direction: column !important;
  justify-content: center;
}

.lanscape-mode-right ul {
  list-style: none !important;
  padding: 0 !important;
  text-align: center !important;
  position: relative !important;
  display: flex !important;
  height: 1.5rem !important;
}

.lanscape-mode-right ul .showFeedBack-progressBar {
  margin-right: 2.25rem !important;
  z-index: 1 !important;
}

.lanscape-mode-right ul .showFeedBack-progressBar:last-child {
  margin-right: 0px !important;
}

.lanscape-mode-right ul .section ul {
  top: -1.75rem !important;
  position: inherit !important;
  margin: 0.5rem 2.25rem !important;
  padding-left: 1.25rem !important;
}

.lanscape-mode-right ul .section ul::before {
  background: transparent !important;
}

.lanscape-mode-right ul .section.attempted::after {
  content: "" !important;
  top: -0.8125rem !important;
  right: auto !important;
  left: 0.625rem !important;
}

.lanscape-mode-right ul .section.correct::after {
  content: "" !important;
  top: -0.525rem !important;
  left: 0.5rem !important;
  right: auto !important;
}

.lanscape-mode-right ul .section.wrong::after {
  content: "" !important;
  top: -0.525rem !important;
  left: 0.5rem !important;
  right: auto !important;
}

.lanscape-mode-right ul .section.partial::after {
  content: "" !important;
  top: -0.525rem !important;
  left: 0.5rem !important;
  right: auto !important;
}

.lanscape-mode-right ul .section label {
  margin-right: 2.25rem !important;
  margin-bottom: 0 !important;
}

.lanscape-mode-right ul::before {
  content: "" !important;
  width: 100% !important;
  height: 0.0625rem !important;
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  right: 0 !important;
  background-color: rgba(204, 204, 204, 0.5) !important;
  z-index: 0 !important;
  margin: 0 auto !important;
}

.lanscape-mode-right ul input[type="checkbox"] ~ ul {
  width: 0 !important;
  transform: scaleX(0) !important;
  margin: 0 !important;
}

.lanscape-mode-right ul input[type="checkbox"]:checked ~ ul {
  width: calc(100% - 4rem) !important;
  transform-origin: left !important;
  transition: transform 0.2s ease-out !important;
  transform: scaleX(1) !important;
  margin: -1.25rem 3rem 0 4rem !important;
}

.landscape-center {
  margin-top: 2rem !important;
}

.lanscape-mode-left {
  display: none !important;
}

.landscape-mode {
  grid-template-areas: "right right right" "center center center" "left left left" !important;
}

.landscape-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startpage__header {
  text-align: center;
}

.landscape-content {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.quml-header__metadata.quml-header__metadata--portrait {
  padding: 0 50px;
}
