:root {
  --font-stack-en: "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-hi: "Noto Sans Devanagari", "Noto Sans", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-ur: "Noto Sans", "Noto Nastaliq Urdu", "Noto Sans Devanagari",
    "Noto Sans Tamil", "Noto Sans Bengali", "Noto Sans Malayalam",
    "Noto Sans Gurmukhi", "Noto Sans Gujarati", "Noto Sans Telugu",
    "Noto Sans Kannada", "Noto Sans Oriya", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --blue: #024f9d;
  --green: #008840;
  --orange: #e55a28;
  --red: #ff4558;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #17a2b8;
  --black: #000000;
  --white: #ffffff;
  --gray-hs: 0, 0%;
  --gray: hsl(var(--gray-hs), 20%);
  --gray-0: hsl(var(--gray-hs), 95%);
  --gray-100: hsl(var(--gray-hs), 80%);
  --gray-200: hsl(var(--gray-hs), 60%);
  --gray-300: hsl(var(--gray-hs), 59%);
  --gray-400: hsl(var(--gray-hs), 40%);
  --gray-800: var(--gray);
  --primary-color: red;
  --secondary-color: #008840;
  --tertiary-color: #e55a28;
  --primary-0: #f3f7fa;
  --primary-100: #edf4f9;
  --primary-200: #80a7ce;
  --primary-250: #d3e7f4;
  --primary-300: #7ab4ee;
  --primary-400: var(--primary-color);
  --primary-600: #005391;
  --primary-800: #002e50;
  --secondary-0: #e1ffdf;
  --secondary-100: #00c786;
  --secondary-200: #07bc81;
  --secondary-400: var(--secondary-color);
  --tertiary-0: #feedd7;
  --tertiary-100: #ffa11d;
  --tertiary-400: var(--tertiary-color);
  --red-0: #fbccd1;
  --red-100: #ff6979;
  --red-400: var(--red);
  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--orange);
  --danger-color: var(--red);
  --body-background-color: var(--primary-0);
  --default-text-color: var(--gray-800);
  --bg-body: var(--primary-0);
  --body-color: var(--gray-800);
  --alpha0: 0;
  --alpha25: 0.25;
  --alpha50: 0.5;
  --alpha75: 0.75;
  --font-default-size: 0.875rem;
  --font-size-base: var(--font-default-size);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --line-height-value: 1.61803398875;
  --line-height-base: calc(var(--font-size-base) * var(--line-height-value));
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.2rem;
  --h5-font-size: 1rem;
  --h6-font-size: var(--font-size-base);
  --font-size-lg: var(--h4-font-size);
  --font-size-md: var(--h5-font-size);
  --font-size-normal: var(--font-size-base);
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.625rem;
  --p-font-size: var(--font-size-base);
  --base-font-size: 0.875rem;
  --base-block-space: 0.5rem;
  --icon-svg-xxs: 0.75rem;
  --icon-svg-xs: calc(var(--base-block-space) * 2);
  --icon-svg-sm: calc(var(--base-block-space) * 3);
  --icon-svg-md: calc(var(--base-block-space) * 4);
  --icon-svg-lg: calc(var(--base-block-space) * 5);
  --icon-svg-xl: calc(var(--base-block-space) * 6);
  --rc-96C8DA: #96c8da;
  --rc-0076FE: #0076fe;
  --rc-E5EDF5: #e5edf5;
  --rc-7c7b7b: #7c7b7b;
  --rc-f5f5f5: #f5f5f5;
  --rc-fdfdfd: #fdfdfd;
  --rc-dedede: #dedede;
  --rc-F5F9FC: #f5f9fc;
  --rc-c4c4c4: #c4c4c4;
  --rc-d8d8d8: #d8d8d8;
  --rc-e9e5e5: #e9e5e5;
  --rc-dddddd: #dddddd;
  --rc-7b86f4: #7b86f4;
  --rc-d0d0d0: #d0d0d0;
  --rc-5c8db7: #5c8db7;
  --rc-91aecc: #91aecc;
  --rc-f9f9f9: #f9f9f9;
  --rc-d4d3d3: #d4d3d3;
  --rc-FAFAFA: #fafafa;
  --rc-866A6A: #866a6a;
  --rc-979797: #979797;
  --rc-e0e1e2: #e0e1e2;
  --rc-00BD7F: #00bd7f;
  --rc-9F9F9F: #9f9f9f;
  --rc-F3F8FF: #f3f8ff;
  --rc-80A7CE: #80a7ce;
  --rc-9b9b9b: #9b9b9b;
  --rc-2ca58d: #2ca58d;
  --rc-007AFF: #007aff;
  --rc-bdbdbd: #bdbdbd;
  --rc-cecece: #cecece;
  --rc-2972a4: #2972a4;
  --rc-E0F1FD: #e0f1fd;
  --rc-C8D6EA: #c8d6ea;
  --rc-e2e3e5: #e2e3e5;
  --rc-BCBEC0: #bcbec0;
  --rc-d4d4d5: #d4d4d5;
  --rc-d4d8da: #d4d8da;
  --rc-bfe1cf: #bfe1cf;
  --rc-289fd9: #289fd9;
  --rc-e68900: #e68900;
  --rc-2f4272: #2f4272;
  --rc-e0e0e0: #e0e0e0;
  --rc-2361ff: #2361ff;
  --rc-c2c2c2: #c2c2c2;
  --rc-e5e5e5: #e5e5e5;
  --rc-ffb300: #ffb300;
  --rc-d8dee2: #d8dee2;
  --rc-252525: #252525;
  --rc-fcf2d6: #fcf2d6;
  --rc-add8e6: #add8e6;
  --rc-afd9e7: #afd9e7;
  --rc-D9E4F2: #d9e4f2;
  --rc-88B7E6: #88b7e6;
  --rc-4a4a4a: #4a4a4a;
  --rc-fff6f6: #fff6f6;
  --rc-f7f7f7: #f7f7f7;
  --rc-66c7f4: #66c7f4;
  --rc-1B4785: #1b4785;
  --rc-a9a9a9: #a9a9a9;
  --rc-eeeeee: #eeeeee;
  --rc-1b1c1d: #1b1c1d;
  --rc-dededf: #dededf;
  --rc-aaaaaa: #aaaaaa;
  --rc-042D55: #042d55;
  --rc-eeeeee: #eeeeee;
  --rc-bbbbbb: #bbbbbb;
  --rc-009D53: #009d53;
  --rc-E0EFFF: #e0efff;
  --rc-196DAB: #196dab;
  --rc-c2c2c2: #c2c2c2;
  --rc-e5e5e5: #e5e5e5;
  --rc-c3c3c3: #c3c3c3;
  --rc-00abc7: #00abc7;
  --rc-FCE6E6: #fce6e6;
  --rc-DECACA: #decaca;
  --rc-424242: #424242;
  --rc-F5D7D7: #f5d7d7;
  --rc-F7FFF5: #f7fff5;
  --rc-D3DED1: #d3ded1;
  --rc-EBF6E0: #ebf6e0;
  --rc-F6F6F6: #f6f6f6;
  --rc-33B6CC: #33b6cc;
  --rc-2dadc2: #2dadc2;
  --rc-0fbad6: #0fbad6;
  --rc-f7ffec: #f7ffec;
  --rc-d2ddc7: #d2ddc7;
  --rc-ffe1e1: #ffe1e1;
  --rc-e6c8c8: #e6c8c8;
  --rc-f56b56: #f56b56;
  --rc-dc523d: #dc523d;
  --rc-e65c47: #e65c47;
  --rc-565c70: #565c70;
  --rc-6D7278: #6d7278;
  --rc-E08A20: #e08a20;
  --rc-DD680F: #dd680f;
  --rc-rgba-black: 0, 0, 0;
  --rc-rgba-white: 255, 255, 255;
  --rc-rgba-gray: 51, 51, 51;
  --rc-rgba-primary: 2, 79, 157;
  --rc-rgba-primary-300: 41, 114, 164;
  --rc-rgba-gray-300: 34, 36, 38;
  --rc-rgba-866a6a: 134, 106, 106;
  --rc-rgba-d0d0d0: 208, 208, 208;
  --rc-rgba-7b86f4: 123, 134, 244;
  --rc-rgba-C8D6EA: 200, 214, 234;
  --primary-theme: #ffd954;
  --sbt-theme-bg: var(--primary-theme);
  --sbt-header-bg: var(--primary-theme);
  --sbt-body-bg: #f2f2ea;
  --sbt-body-bg2: #e9e8d9;
  --sbt-primary-bg: var(--primary-theme);
  --sbt-border-chapter: #e4e8ee;
  --sbt-box-shadow-black: rgba(0, 0, 0, 0.1);
  --sbt-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--sbt-box-shadow-black);
  --sbt-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0
    var(--sbt-box-shadow-black);
  --sbt-box-shadow: rgba(128, 167, 206, 1);
  --lazyload-bg: #f6f7f8;
  --grey-nuance-lighter: #eeeeee;
  --grey-nuance-darker: #dddddd;
  --fade-grey: #e8e8e8;

  /* sdk-end-page */
  --sdk-end-page-title: var(--primary-color);
  --sdk-end-page-replay-icon: var(--primary-color);
  --sdk-end-page-replay-section-bg: #fff;
  --sdk-end-page-title-span: #666666;
  --sdk-end-page-replay-section-hover: #f2f2f2;

  /* quml-color-primary */
  --quml-color-primary: var(--primary-color) !important;
  --quml-color-primary-contrast: #333 !important;
  --quml-color-warning: #ff0000 !important;
  --quml-btn-border: #ccc !important;
  --quml-color-gray: #666 !important;
  --quml-main-bg: #fff !important;
  --quml-navigation-btns: #333 !important;
  --quml-header-metadata: #fff !important;
  --quml-color-primary-shade: rgba(0, 0, 0, 0.1) !important;
  --quml-option-card-bg: #fff !important;
  --quml-option-selected-checkmark: #fff !important;
  --quml-checkmark: #cdcdcd !important;
  --quml-color-success: #08bc82 !important;
  --quml-color-danger: #f1635d !important;
  --quml-option-selected-checkmark-icon: #fff !important;
  --quml-scoreboard-sub-title: #6d7278 !important;
  --quml-zoom-btn-txt: #eee !important;
  --quml-zoom-btn-hover: #f2f2f2 !important;
  --quml-scoreboard-skipped: #969696 !important;
  --quml-scoreboard-unattempted: #575757 !important;

  --sdk-end-page-title: var(--primary-color) !important;
  --sdk-end-page-replay-icon: var(--primary-color) !important;
  --sdk-end-page-replay-section-bg: #fff;
  --sdk-end-page-title-span: #666666;
  --sdk-end-page-replay-section-hover: #f2f2f2;
}
